@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  line-height: 0;
  margin: 0;
}

:root {
  interpolate-size: allow-keywords;

  --oxfordBlue: #000A2D;
  --wheat: #EFD6AC;
  --dogwoodRose: #D90368;
  --vividSkyBlue: #56CBF9;
  --kellyGreen: #29BF12;
}

body {
  background-color: var(--oxfordBlue);
  color: var(--wheat);
  display: flex;
  font-family: "Lato", serif;
  font-weight: 200;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input::placeholder {
  color: inherit;
  opaicty: 1;
}

p, h1, h2, h3, h4, h5, h6, button {
  font-weight: normal;
  line-height: calc(1em + 0.5rem);
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h2 {
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .7rem;
  color: var(--wheat);
  text-shadow: -1px -1px 1px var(--oxfordBlue), 
    1px -1px 1px var(--oxfordBlue), 
    -1px 1px 1px var(--oxfordBlue), 
    1px 1px 1px var(--oxfordBlue), 
    -1px -1px 1.5em var(--wheat), 
    1px -1px 1.5em var(--wheat), 
    -1px 1px 1.5em var(--wheat), 
    1px 1px 1.5em var(--wheat);
  font-size: clamp(1rem, 3cqw, 3rem);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
