.headline {
  color: var(--oxfordBlue);
  font-family: 'Merriweather', serif;
  font-size: 3.2rem;
  font-size: clamp(3.2rem, 16cqw, 10rem);
  line-height: 0.6;
  padding: .4em;
  text-align: center;
  -webkit-text-stroke: 1px var(--wheat);
  -webkit-text-fill-color: var(--oxfordBlue);
  text-shadow: -1px -1px 1px var(--oxfordBlue), 
    1px -1px 1px var(--oxfordBlue), 
    -1px 1px 1px var(--oxfordBlue), 
    1px 1px 1px var(--oxfordBlue), 
    -1px -1px 0.05em var(--wheat), 
    1px -1px 0.05em var(--wheat), 
    -1px 1px 0.05em var(--wheat), 
    1px 1px 0.05em var(--wheat);
  transition: font-size 1s ease-out;
  width: 10ch;
}

.headline.shrunk {
  font-size: 3.2rem;
}