.headline {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Merriweather', serif;

  color: var(--oxfordBlue);
  -webkit-text-stroke: 1px var(--wheat);
  -webkit-text-fill-color: var(--oxfordBlue);
  text-shadow: -1px -1px 1px var(--oxfordBlue), 
    1px -1px 1px var(--oxfordBlue), 
    -1px 1px 1px var(--oxfordBlue), 
    1px 1px 1px var(--oxfordBlue), 
    -1px -1px 0.05em var(--wheat), 
    1px -1px 0.05em var(--wheat), 
    -1px 1px 0.05em var(--wheat), 
    1px 1px 0.05em var(--wheat);
  font-size: clamp(3.2rem, 16cqw, 10rem);
  line-height: 0.6;
}